rmdir /s venvFLASK_ENV=development
# DATABASE_URL=postgresql+psycopg://postgres.oqlwicxshqkkruwpfcza:CSE6215%21cessms@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_URL=postgresql+psycopg://postgres:CSE6215%21cessms@db.oqlwicxshqkkruwpfcza.supabase.co:5433/postgres?sslmode=require